<section class="story"> 
  <h3 class="story__title">EQUIPO</h3>
  <p class="story__text">
    Esta es la historia de cinco mujeres
    luchadoras decididas a hacerse un hueco en
    la programación front-end. Aspiramos a unirnos a
    las referentes que nos han precedido en este mundo
    y allanar el terreno para las mujeres que vengan
    después. En tiempos de dificultades, sumamos
    energía y competencias para reinventarnos con más
    fuerza.
  </p>
</section>
<div class="aboutUS">
  <div class="aboutUS__triangleDown"></div>
  <div class="aboutUS__wrapper">
  <section class="aboutUS__strengths">
    <h3 class="aboutUS__strengths--title">Fortalezas</h3>
    <p class="aboutUS__strengths--text">
      Somos valientes, independientes e incansables.
      Estamos preparadas, motivadas y sabemos sacarle el
      máximo partido a nuestros conocimientos técnicos y
      a las experiencias diversas de todas nosotras.
      Ofrecemos un trabajo de calidad (elegante y
      exquisito) porque le dedicamos esfuerzo,
      paciencia y ganas.
    </p>
  </section>
  <section class="aboutUS__weaknesses">
    <h3 class="aboutUS__weaknesses--title">Debilidades</h3>
    <p id="us" class="aboutUS__weaknesses--text">
      Nos enfrentamos a un ámbito tecnológico nuevo para
      nuestro equipo y con (aún) insuficiente presencia
      de mujeres, del que tenemos mucho que aprender,
      pero al que pretendemos aportar aún más. Las
      Chicas del Coding no conocen barreras.
    </p>
  </section>
  </div>
</div>
