<div class="adalabers__adalabersContainer @@adalabersContainerClass">
  <img
    class="adalabersContainer__girlImage"
    src="@@girlImageSrc"
    alt="@@girlImageAlt"
    aria-label="Foto name"
  />
  <div class="adalabersContainer__girlText @@adalabersTextClass">
    <h2 class="adalabersContainer__girlName">@@name</h2>
    <p class="adalabersContainer__girlDescription @@adalabersDescriptionClass">
      @@description
    </p>
    <div class="adalabersContainer__icons">
      <a
        class="adalabersContainer__icons--twitter"
        href="@@twitterLink"
        target="_blank"
        title="Twitter"
        aria-label="Ir a Twitter"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <div class="adalabersContainer__dot">·</div>
      <a
        class="adalabersContainer__icons--linkedin"
        href="@@linkedinLink"
        target="_blank"
        title="Linkedin"
        aria-label="Ir a Linkedin"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
      <div class="adalabersContainer__dot">·</div>
      <a
        class="adalabersContainer__icons--github"
        href="@@githubLink"
        target="_blank"
        title="Github"
        aria-label="Ir a Github"
      >
        <i class="fab fa-github-alt"></i>
      </a>
      <div class="adalabersContainer__dot">·</div>
      <a
        class="adalabersContainer__icons--email"
        href="@@mailLink"
        title="Email"
        aria-label="Envía un mail"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</div>
