<div class="imageContactContainer">
  <img
    class="imageContactContainer__image"
    src="./assets/images/hero/hero768.jpg"
    alt="hero"
  />
</div>
<main class="main">
  <div class="main__introContainer">
    <h1 class="main__introContainer--title">Contacta con nosotras</h1>
    <p class="main__introContainer--text">
      En estos momentos todas nuestras líneas están saturadas. Si quieres
      ponerte en contacto con nosotras, rellena el siguiente formulario y te
      responderemos lo antes posible.
    </p>
    <small class="main__introContainer--small"
      >Todos los campos marcados con <span class="star">*</span> son
      obligatorios</small
    >
  </div>

  <form class="main__formContainer" action="/signup" method="post">
    <div class="main__formContainer--fieldName">
      <label for="firstName"
        >Nombre completo <span class="star">*</span>
      </label>
      <input id="firstName" type="text" name="firstName" placeholder="Nombre" />
    </div>
    <div class="main__formContainer--fieldEmail">
      <label for="email">E-mail <span class="star">*</span></label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="nombre.apellidos@mail.com"
      />
    </div>
    <div class="main__formContainer--fieldTelephone">
      <label for="telephone">Teléfono</label>
      <input
        id="telephone"
        type="tel"
        name="telephone"
        placeholder="ej.: 123456789"
      />
    </div>
    <div class="main__formContainer--fieldMessage">
      <label for="message">Mensaje <span class="star">*</span> </label>
      <textarea
        id="message"
        name="message"
        rows="8"
        cols="25%"
        placeholder="¿Qué necesitas?"
      ></textarea>
    </div>
    <input class="main__formContainer--button" type="submit" value="ENVIAR" /> 
    <!-- No hay un texto como tal en "enviar" por eso no se puede transformar en mayúscylas -->
  </form>
</main>
