<footer class="footer">
  <p class="footer__copy2020">Las Chicas del Coding &copy2020</p>
  <nav class="footer__footerMenu">
    <ul class="footer__footerMenuLink">
      <li><a class="footer__footerMenuLink--team" href="#team">Equipo</a></li>
      <li>
        <a class="footer__footerMenuLink--aboutUs" href="#us">Quiénes somos</a>
      </li>
      <li>
        <a class="footer__footerMenuLink--contact" href="./contact.html"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__footerLogo">
    <a href="https://adalab.es/empresas/" target="blank"
      ><img
        class="footerLogo__logo"
        src="./assets/images/logo/logoadalab.png"
        alt="logo-adalab"
    /></a>
  </div>
</footer>
