<footer class="footer" role="contentinfo">
  <p class="footer__copy2020">Las Chicas del Coding &copy2020</p>
  <nav class="footer__footerMenu" role="navigation">
    <ul class="footer__footerMenuLink">
      <li>
        <a
          class="footer__footerMenuLink--team"
          href="./index.html#team"
          aria-label="Ir a Equipo"
          >Equipo</a
        >
      </li>
      <li>
        <a
          class="footer__footerMenuLink--aboutUs"
          href="./index.html#us"
          aria-label="Ir a Quiénes somos"
          >Quiénes somos</a
        >
      </li>
      <li>
        <a
          class="footer__footerMenuLink--contact"
          href="./contact.html"
          aria-label="Contacta con nosotras"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__footerLogo">
    <a
      href="https://adalab.es/empresas/"
      target="blank"
      aria-label="Ir a la web de Adalab"
      ><img
        class="footer__footerLogo--logo"
        src="./assets/images/logo/logoadalab.png"
        alt="logo-adalab"
        title="Adalab"
        aria-label="Ir a la web de Adalab"
      />
    </a>
  </div>
</footer>
