<footer class="footer">
  <p class="footer__copy2020">Las Chicas del Coding &copy2020</p>
  <nav class="footer_footerMenu_nav">
    <ul class="footer__footerMenu">
      <li><a class="footerMenu_link--team" href="#team">Equipo</a></li>
      <li><a class="footerMenu_link--aboutUs" href="#us">Quiénes somos</a></li>
      <li><a class="footerMenu_link--contact" href="">Contacto</a></li>
    </ul>
  </nav>
  <div class="footer__footerLogo">
    <img
      class="footerLogo__logo"
      src="./assets/images/logo/logoadalab.png"
      alt="logo-adalab"
    />
  </div>
</footer>
