<header class="header">
  <div class="header__headerName">
    <h1 class="header__teamName">Las chicas del Coding</h1>
  </div>
  <div class="header__menu">
    <nav>
      <ul class="header__menuList">
        <li>
          <a class="header__link--team" href="./index.html#team">Equipo</a>
        </li>
        <li>
          <a class="header__link--aboutus" href="./index.html#us">Quiénes somos</a>
        </li>
        <li>
          <a class="header__link--contact" href="./contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
