<header class="header" role="banner">
  <div class="header__headerName">
    <img
      class="header__teamName"
      src="./assets/images/logo/logoequipo.png"
      alt="Las Chicas del Coding"
      title="Las Chicas del Coding"
    />
  </div>
  <div class="header__menu" aria-label="Menu">
    <nav role="navigation">
      <ul class="header__menuList">
        <li>
          <a
            class="header__link--team"
            href="./index.html#team"
            title="Ir a equipo"
            aria-label="Ir a Equipo"
            >Equipo</a
          >
        </li>
        <li>
          <a
            class="header__link--aboutus"
            href="./index.html#us"
            title="Ir a quiénes somos"
            aria-label="Ir a quiénes somos"
            >Quiénes somos</a
          >
        </li>
        <li>
          <a
            class="header__link--contact"
            href="./contact.html"
            title="Contacta con nosotras"
            aria-label="Contacta con nosotras"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
