// fonts
$font-main: "Rubik";
$font-secondary: "Open Sans";

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #54585a;
$color-secondary-light: #b8b8b9;
$color-tertiary: #099d8d;
$color-tertiary-light: #14d9c4;
$color-hover:  #CCCCCC;


//font-size:
$font-title: 24px;
$font-text: 16px;
