.story,
.strengths,
.weaknesses,
.adalabers {
  padding: 30px 15px 30px 15px;
}

.story {
  margin-top: -66px;
  padding-top: 45px;
  @media all and (min-width: 768px) {
    padding: 45px 45px 60px 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 45px 300px 60px 300px;
  }
}

.aboutUS__strengths {
  padding-top: 0;
  padding-bottom: 0;
  @media all and (min-width: 768px) {
    padding: 15px 15px 60px 45px;
    margin-top: -30px;
    flex: 1;
  }
  @media all and (min-width: 1200px) {
    padding: 15px 30px 60px 138px;
  }
}

.aboutUS__weaknesses {
  padding-bottom: 45px;
  @media all and (min-width: 768px) {
    padding: 15px 45px 60px 15px;
    margin-top: -30px;
    flex: 1;
  }
  @media all and (min-width: 1200px) {
    padding: 15px 138px 60px 30px;
  }
}

.aboutUS__triangleDown {
  width: 0;
  height: 0;
  border-left: 31px solid transparent;
  border-right: 31px solid transparent;
  border-top: 31px solid white;
  margin: -1px auto;
}

.aboutUS {
  background-color: #b8b8b9;
  @media all and (min-width: 1200px) {
    margin: auto 138px;
  }
}

.story__title {
  font-family: "Rubik";
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 500;
}

.story__text,
.aboutUS__strengths--text,
.aboutUS__weaknesses--text {
  font-family: "Open Sans";
  text-align: center;
}

.story__text {
  font-size: 24px;
  color: #14d9c4;
}

.aboutUS__strengths--text,
.aboutUS__weaknesses--text {
  color: #099d8d;
  font-size: 22px;
}

@media all and (min-width: 768px) {
  .about-us-wrapper {
    display: flex;
    flex-direction: row;
  }
}
