.story {
  margin-top: -66px;
  padding: 60px 15px 30px 15px;
  @media all and (min-width: 768px) {
    padding: 45px 45px 60px 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 45px 300px 60px 300px;
  }
}
.aboutUS__strengths,
.aboutUS__weaknesses {
  &--title {
    font-family: $font-main;
    font-size: 22px;
    color: $color-tertiary;
    letter-spacing: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 45px;
    text-align: center;
    font-weight: 500;
  }
}

.aboutUS__strengths {
  padding: 15px 15px 15px 15px;
  @media all and (min-width: 768px) {
    width: 50%;
    padding: 15px 15px 60px 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 15px 23px 60px 45px;
  }
}

.aboutUS__weaknesses {
  padding: 15px 15px 45px 15px;
  @media all and (min-width: 768px) {
    width: 50%;
    padding: 15px 45px 60px 15px;
  }
  @media all and (min-width: 1200px) {
    padding: 15px 45px 60px 23px;
  }
}
// -----------He unificado estos dos selectores (arriba) para ahorrar código, y he metido dentro el title, que no estaba.-----------------
//  {
//   padding-bottom: 45px;
//   &--title {
//     font-family: $font-main;
//     letter-spacing: normal;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 45px;
//     text-align: center;
//     padding-bottom: 15px;
//     font-weight: 500;
//   }
//   @media all and (min-width: 768px) {
//     padding: 15px 45px 60px 15px;
//     margin-top: -30px;
//     flex: 1;
//   }
//   @media all and (min-width: 1200px) {
//     padding: 15px 138px 60px 30px;
//   }
// }
.aboutUS__triangleDown {
  width: 0;
  height: 0;
  border-left: 31px solid transparent;
  border-right: 31px solid transparent;
  border-top: 31px solid $color-white;
  margin: -1px auto;
}
.aboutUS {
  background-color: $color-secondary;
  @media all and (min-width: 1200px) {
    margin: auto 138px;
  }
}
.story__title {
  font-family: $font-main;
  color: $color-tertiary-light;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: 45px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 500;
}

.story__text,
.aboutUS__strengths--text,
.aboutUS__weaknesses--text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 24px;
  color: $color-secondary;
  text-align: center;
}

.aboutUS__strengths--text,
.aboutUS__weaknesses--text {
  @media all and (min-width: 768px) {
    padding-top: 15px;
  }
}

@media all and (min-width: 768px) {
  .aboutUS__wrapper {
    display: flex;
    flex-direction: row;
  }
}
