.adalabers {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 20px 15px;
  &__title {
    color: $color-tertiary;
    font-size: 24px;
    font-family: $font-main;
    font-weight: 500;
    line-height: 45px;
    @include tablet {
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }
  &__adalabersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0 25px 60px 25px;
    }
    &--even {
      @include tablet {
        flex-direction: row-reverse;
      }
    }
  }
}
.adalabersContainer {
  &__girlImage {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 180px;
    border: solid 5px $color-secondary-light;
    border-radius: 2%;
    @include tablet {
      width: 205px;
    }
  }
  &__girlText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    @include tablet {
      width: 439px;
    }
    &--odd {
      @include tablet {
        align-items: flex-start;
      }
    }
    &--even {
      @include tablet {
        align-items: flex-end;
      }
    }
  }
  &__girlName {
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    @include tablet {
      margin-top: 0px;
    }
  }
  &__girlDescription {
    color: $color-secondary;
    font-size: 16px;
    text-align: center;
    font-family: $font-secondary, sans-serif;
    line-height: 24px;
    &--odd {
      @include tablet {
        text-align: left;
      }
    }
    &--even {
      @include tablet {
        text-align: right;
      }
    }
  }
  &__icons {
    display: flex;
    width: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    justify-content: space-around;
    a {
      color: $color-tertiary;
      transition: scale 1.3 0.5s;
      transform: scale();
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &__dot {
    color: $color-secondary;
  }
}
