.adalabers {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 20px 15px;
  &__title {
    color: $color-tertiary;
    font-size: 24px;
    font-family: $font-main;
    font-weight: 500;
    line-height: 45px;
    @media all and (min-width: 768px) {
      margin-top: 45px;
      margin-bottom: 45px; /*esto lo he metido nuevo*/
    }
  }

  &__adalabersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // He metido estas tres líneas de arriba porque no estaba dándole el formato flex al de móvil.
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0 25px 60px 25px;
    }
    &--even {
      @media all and (min-width: 768px) {
        flex-direction: row-reverse;
      }
    }
  }
}
.adalabersContainer {
  &__girlImage {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 180px;
    border: solid 5px $color-secondary-light;
    border-radius: 2%;
    @media all and (min-width: 768px) {
      width: 205px;
    }
  }
  &__girlText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    @media all and (min-width: 768px) {
      width: 439px;
      // padding: 0px 20px 20px 30px;
    }
    &--odd {
      @media all and (min-width: 768px) {
        // display: flex;
        // flex-direction: column;
        align-items: flex-start;
        // padding: 0px 30px 20px 20px;
      }
    }
    &--even {
      @media all and (min-width: 768px) {
        // display: flex;
        // flex-direction: column;
        align-items: flex-end;
      }
    }
  }
  &__girlName {
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    @media all and (min-width: 768px) {
      margin-top: 0px;
    }
  }
  &__girlDescription {
    color: $color-secondary;
    font-size: 16px;
    text-align: center;
    font-family: $font-secondary, sans-serif;
    line-height: 24px;
    &--odd {
      @media all and (min-width: 768px) {
        text-align: left;
      }
    }
    &--even {
      @media all and (min-width: 768px) {
        text-align: right;
      }
    }
  }
  &__icons {
    display: flex;
    width: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    justify-content: space-around;
    a {
      color: $color-tertiary;
    }
  }
  &__dot {
    color: $color-secondary;
  }
}
/////ANIMATION//////
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  // border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
