.footer {
  width: 100%;
  border-top: 1px solid #b8b8b9;
}

.footer__copy2020 {
  height: 20px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #b8b8b9;
}

.footerLogo__logo {
  width: 115.9px;
  height: 45px;
}

.footer__footerMenuLink {
  list-style-type: none;
  text-transform: uppercase;
  opacity: 0.75;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #54585a;
}

.footer__footerMenuLink {
    &--team,
    &--team:visited,
    &--aboutUs,
    &--aboutUs:visited,
    &--contact,
    &--contact:visited {
    color: inherit;
    text-decoration: none;
  }
}