.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #b8b8b9;
  padding-top: 30px;
  padding-bottom: 45px;
  @media all and (min-width: 768px) {
    position: relative;
    align-items: start;
    padding: 0 0 60px 0;
  }
}

.footer__copy2020 {
  height: 20px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #b8b8b9;
  @media all and (min-width: 768px) {
    padding: 30px 0 0 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 30px 0 0 138px;
  }
}

.footerLogo__logo {
  width: 115.9px;
  height: 45px;
}

.footer_footerLogo {
  @media all and (min-width: 768px) {
      padding: 15px 0 0 45px;
    }
  @media all and (min-width: 1200px) {
      padding: 15px 0 0 138px;
  }
}

.footer_footerMenu {
  @media all and (min-width: 768px) {
  position: absolute;
  top: 0;
  right: 0;
  }
}

.footer__footerMenuLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  opacity: 0.75;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  padding-top: 20px;
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    order: 2;
    padding: 25px 45px 0 0;
    margin-top: 16px;
  }
  @media all and (min-width: 1200) {
    padding: 25px 138px 0 0;
  } 
}

  @media all and (min-width: 768px) {
    .footer__footerMenuLink li {
  display: block;
  padding: 8px 0;
    }
}

.footer__footerMenuLink {
    &--team,
    &--team:visited,
    &--aboutUs,
    &--aboutUs:visited,
    &--contact,
    &--contact:visited {
    color: inherit;
    text-decoration: none;
  }
}


