/* ESTILOS HERO */

.hero__image {
  width: 100vw;
  margin-top: 110px;
  @media all and (min-width: 768px) {
    margin-top: 155px;
  }
}

/* LEMA HERO */
.hero__motto {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  top: -30px;
  background-color: $color-white;
  @media all and (min-width: 768px) {
    margin: 0 115px 0 115px;
    top: -40px;
  }
  @media all and (min-width: 1200px) {
    margin: 0 138px 0 138px;
    top: -60px;
  }
}
.hero__mottoText {
  padding: 15px;
  text-align: center;
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
}
