/*del html habría que crear la etiqueta main, que no está... y por otro lado he metido las clases girl-text-1 y girl-description-1 para cada chica para poder trabajar con la tablet y pc. En esos dispositivos como que una chica se alinea a la derecha y la otra a la izquierda*/

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 768px;
  width: 100%;
  box-sizing: border-box;
}

@media all and (min-width: 320px) /*aquí ponía 500 y he puesto 320px porque creo que los móviles tienen un mínimo de 320px,
  habrá que decirles al equipo para que lo pongan en index*/ {
  body {
    margin: auto;
  }
}

/* ADALABERS */
.adalabers-container {
  width: 100vw; /*aquí poníamos 100% me dijo Miguel que había que poner 100vw para que se ajuste a su contenedor principal que sería main. por eso hacía el scroll horizonta*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-we-are-h1 {
  color: #099d8d;
  font-size: 24px;
  font-family: Rubik;
  margin-top: 30px;
  line-height: 45px;
}

.girl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.girl-image {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 180px;
  border: solid 5px #b8b8b9;
  border-radius: 2%;
}
.girl-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.girl-name {
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: Open Sans;
}

.girl-description {
  color: #54585a;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}
.icons {
  display: flex;
  width: 20%;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  justify-content: space-around;
}
/*He cambiado el justify-content a "space-around"*/

.icon {
  color: #099d8d;
}
/*falta punto entre iconos; y meter font family que falta*/

@media all and (min-width: 768px) {
  body {
    max-width: 1200px;
  }
  .who-we-are-h1 {
    margin-top: 45px;
    line-height: 45px;
  }
  .girl-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /*esto lo he puesto para que el texto y la imagen estén alineados arriba. te lo digo porque es una de las cosas me ha costado pillar jeje*/
    margin: 0 25px 60px 25px;
  }

  .girl-2,
  .girl-4 {
    flex-direction: row-reverse;
  }
  .girl-image {
    width: 205px;
  }

  .girl-text-1,
  .girl-text-3,
  .girl-text-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*esto sería para que tanto el nombre de la chica como la descripción se alineen en el eje horizontal al inicio*/
    padding: 20px;
    margin-top: 20px;
  }

  .girl-text-2,
  .girl-text-4 {
    align-items: flex-end;
  }

  .girl-name {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .girl-description-1,
  .girl-description-3,
  .girl-description-5 {
    text-align: left;
  }

  .girl-description-2,
  .girl-description-4 {
    text-align: right;
  }
}

@media all and (min-width: 1200px) {
  /*falta para el tamaño pc. Muy parecido a tablet, creo que solo cambian medidas y márgenes, no disposición*/
}
