* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 768px;
  width: 100%;
}

@media all and (min-width: 500px) {
  body {
    margin: auto;
  }
}
/*ESTILOS ADALABERS*/
.adalabers-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*ESTILOS TÍTULO QUIÉNES SOMOS*/
.who-we-are-h1 {
  color: #099d8d;
  font-size: 24px;
  font-family: Rubik;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*ESTILOS SECCIÓN CHICA(S)*/
.girl-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/*ESTILO IMAGEN CHICA(S)*/
.girl-image {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 180px;
  border: solid 5px #b8b8b9;
}
/*ESTILO TODO TEXTO CHICA(S)*/
.girl-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*ESTILO NOMBRE CHICA(S)*/
.girl-name {
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: Open Sans;
}

/*ESTILO DESCRIPCIÓN CHICA(S)*/
.girl-description {
  color: #54585a;
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
  line-height: 24px;
}

/*ESTILO ICONOS RRSS*/
.icons {
  display: flex;
  width: 25%;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  justify-content: space-between;
}
/*falta punto entre iconos y luego ajustar espacio y margenes; poner este color en los iconos color: #099d8d; y meter font family que falta*/
